<div class="row col-xs-12">
  <h1> {{recipeData.name}}</h1>
</div>
<div class="row col-xs-12">
  <img src="{{ recipeData.imagePath }}" class="img-fluid" alt="...">
</div>

<div class="row col-xs-12">
  <h3>{{recipeData.description}}</h3>
</div>
<div class="row col-xs-12">
  <h3>Ingredient</h3>
  <p>add some ingredients in real data set </p>
</div>

<div class="row col-xs-12">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary btn-sm">Edit</button>
    <button type="button" class="btn btn-success btn-sm">Save</button>
    <button type="button" class="btn btn-danger btn-sm">Delete</button>
  </div>
</div>
